@page "/login"
@model Accounting_System.Areas.Auth.Pages.LoginModel
@{
    ViewBag.Title = "Đăng nhập";
}
<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">@ViewBag.Title</h1>
        </div>
        <form class="user" id="account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.Email" class="form-control form-control-user"
                       aria-describedby="emailHelp" placeholder="Nhập email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Password" class="form-control form-control-user" placeholder="Nhập mật khẩu" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="custom-control custom-checkbox small">
                    <input asp-for="Input.RememberMe" class="custom-control-input" />
                    <label class="custom-control-label" asp-for="Input.RememberMe"></label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-user btn-block">Đăng nhập</button>
            <hr>
        </form>
        <hr>
        <div class="text-center">
            <a id="forgot-password" asp-area="Auth" asp-page="/ForgotPassword" class="small">Quên mật khẩu</a>
        </div>
        <div class="text-center">
            @*<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="small">Chưa có tài khoản? Đăng ký ngay!</a>*@
            <a asp-area="Auth" asp-page="/Register" class="small">Chưa có tài khoản? Đăng ký ngay!</a>
        </div>
    </div>
</div>