@page
@model Accounting_System.Areas.Admin.Pages.SalesOrderPage.CreateModel

@{
    ViewData["Title"] = "Tạo mới";
}

<div>
    <a asp-page="Index"><i class="fas fa-arrow-left mr-1"></i>Trờ về</a>
</div>

<h1>Tạo mới</h1>

<h4>Đơn đặt hàng (Sales Order)</h4>
<hr />
<div>
    <form asp-page-handler="CreateSalesOrder" method="post">
        <h4>Thông tin chung</h4>
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.FkDvcs" class="control-label"></label>
                <select asp-for="TDondathang.FkDvcs" asp-items="Model.DvcsSelectList" class="form-control">
                    <option value="" selected disabled>Chọn</option>
                </select>
                <span asp-validation-for="TDondathang.FkDvcs" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.CSophieu" class="control-label"></label>
                <input asp-for="TDondathang.CSophieu" class="form-control" />
                <span asp-validation-for="TDondathang.CSophieu" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.CNgaylap" class="control-label"></label>
                <input asp-for="TDondathang.CNgaylap" class="form-control" />
                <span asp-validation-for="TDondathang.CNgaylap" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.CNgaynhan" class="control-label"></label>
                <input asp-for="TDondathang.CNgaynhan" class="form-control" />
                <span asp-validation-for="TDondathang.CNgaynhan" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.CNgayhethan" class="control-label"></label>
                <input asp-for="TDondathang.CNgayhethan" class="form-control" />
                <span asp-validation-for="TDondathang.CNgayhethan" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.FkKhachhang" class="control-label"></label>
                <select asp-for="TDondathang.FkKhachhang" asp-items="Model.KhSelectList" class="form-control">
                    <option value="" selected disabled>Chọn</option>
                </select>
                <span asp-validation-for="TDondathang.FkKhachhang" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.FkNguoilh" class="control-label"></label>
                <select asp-for="TDondathang.FkNguoilh" asp-items="Model.NlhSelectList" class="form-control">
                    <option value="" selected disabled>Chọn</option>
                </select>
                <span asp-validation-for="TDondathang.FkNguoilh" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.FkLoaitien" class="control-label"></label>
                <select asp-for="TDondathang.FkLoaitien" asp-items="Model.TienteSelectList" class="form-control">
                    <option value="" selected disabled>Chọn</option>
                </select>
                <span asp-validation-for="TDondathang.FkLoaitien" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.CTigia" class="control-label"></label>
                <input asp-for="TDondathang.CTigia" class="form-control" />
                <span asp-validation-for="TDondathang.CTigia" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.CDiengiai" class="control-label"></label>
                <input asp-for="TDondathang.CDiengiai" class="form-control" />
                <span asp-validation-for="TDondathang.CDiengiai" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.FkPhongban" class="control-label"></label>
                <select asp-for="TDondathang.FkPhongban" asp-items="Model.PhongbanSelectList" class="form-control">
                    <option value="" selected disabled>Chọn</option>
                </select>
                <span asp-validation-for="TDondathang.FkPhongban" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.FkPhanxuong" class="control-label"></label>
                <select asp-for="TDondathang.FkPhanxuong" asp-items="Model.PhanxuongSelectList" class="form-control">
                    <option value="" selected disabled>Chọn</option>
                </select>
                <span asp-validation-for="TDondathang.FkPhanxuong" class="text-danger"></span>
            </div>
            @*<div class="form-group col-3">
                <label asp-for="TDondathang.FkKmp" class="control-label"></label>
                <input asp-for="TDondathang.FkKmp" class="form-control" />
                <span asp-validation-for="TDondathang.FkKmp" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.CKhdk" class="control-label"></label>
                <input asp-for="TDondathang.CKhdk" class="form-control" />
                <span asp-validation-for="TDondathang.CKhdk" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.CKhdkdc" class="control-label"></label>
                <input asp-for="TDondathang.CKhdkdc" class="form-control" />
                <span asp-validation-for="TDondathang.CKhdkdc" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.CKhdkdt" class="control-label"></label>
                <input asp-for="TDondathang.CKhdkdt" class="form-control" />
                <span asp-validation-for="TDondathang.CKhdkdt" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.CKhdkemail" class="control-label"></label>
                <input asp-for="TDondathang.CKhdkemail" class="form-control" />
                <span asp-validation-for="TDondathang.CKhdkemail" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.CKhdknlh" class="control-label"></label>
                <input asp-for="TDondathang.CKhdknlh" class="form-control" />
                <span asp-validation-for="TDondathang.CKhdknlh" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.CKhdkfax" class="control-label"></label>
                <input asp-for="TDondathang.CKhdkfax" class="form-control" />
                <span asp-validation-for="TDondathang.CKhdkfax" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.FkUser" class="control-label"></label>
                <input asp-for="TDondathang.FkUser" class="form-control" />
                <span asp-validation-for="TDondathang.FkUser" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.CDatetime" class="control-label"></label>
                <input asp-for="TDondathang.CDatetime" class="form-control" />
                <span asp-validation-for="TDondathang.CDatetime" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.FkDdct" class="control-label"></label>
                <input asp-for="TDondathang.FkDdct" class="form-control" />
                <span asp-validation-for="TDondathang.FkDdct" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.CDaban" class="control-label"></label>
                <input asp-for="TDondathang.CDaban" class="form-control" />
                <span asp-validation-for="TDondathang.CDaban" class="text-danger"></span>
            </div>*@
            <div class="form-group col-3">
                <label asp-for="TDondathang.CVat" class="control-label"></label>
                <input asp-for="TDondathang.CVat" class="form-control" />
                <span asp-validation-for="TDondathang.CVat" class="text-danger"></span>
            </div>
            @*<div class="form-group col-3">
                <label asp-for="TDondathang.FkLoaibg" class="control-label"></label>
                <select asp-for="TDondathang.FkLoaibg" asp-items="Model.LoaiBgSelectList" class="form-control">
                    <option value="" selected disabled>Chọn</option>
                </select>
                <span asp-validation-for="TDondathang.FkLoaibg" class="text-danger"></span>
            </div>*@
            @*<div class="form-group col-3">
                <label asp-for="TDondathang.FkPpvc" class="control-label"></label>
                <input asp-for="TDondathang.FkPpvc" class="form-control" />
                <span asp-validation-for="TDondathang.FkPpvc" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.FkDondathang" class="control-label"></label>
                <input asp-for="TDondathang.FkDondathang" class="form-control" />
                <span asp-validation-for="TDondathang.FkDondathang" class="text-danger"></span>
            </div>*@
            @*<div class="form-group col-3">
                <label asp-for="TDondathang.CField1" class="control-label"></label>
                <input asp-for="TDondathang.CField1" class="form-control" />
                <span asp-validation-for="TDondathang.CField1" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.CField2" class="control-label"></label>
                <input asp-for="TDondathang.CField2" class="form-control" />
                <span asp-validation-for="TDondathang.CField2" class="text-danger"></span>
            </div>
            <div class="form-group col-3">
                <label asp-for="TDondathang.FkModifyuser" class="control-label"></label>
                <input asp-for="TDondathang.FkModifyuser" class="form-control" />
                <span asp-validation-for="TDondathang.FkModifyuser" class="text-danger"></span>
            </div>*@
            <div class="form-group col-3">
                <label asp-for="TDondathang.FkPttt" class="control-label"></label>
                <select asp-for="TDondathang.FkPttt" asp-items="Model.PtttSelectList" class="form-control">
                    <option value="" selected disabled>Chọn</option>
                </select>
                <span asp-validation-for="TDondathang.FkPttt" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Tạo mới" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
