@page
@model Accounting_System.Areas.Admin.Pages.CustomerPage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TDmKh</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TDmKh.PkId" />
            <div class="form-group">
                <label asp-for="TDmKh.CMa" class="control-label"></label>
                <input asp-for="TDmKh.CMa" class="form-control" />
                <span asp-validation-for="TDmKh.CMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.FkDvcs" class="control-label"></label>
                <input asp-for="TDmKh.FkDvcs" class="form-control" />
                <span asp-validation-for="TDmKh.FkDvcs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.FkQuocgia" class="control-label"></label>
                <input asp-for="TDmKh.FkQuocgia" class="form-control" />
                <span asp-validation-for="TDmKh.FkQuocgia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CMst" class="control-label"></label>
                <input asp-for="TDmKh.CMst" class="form-control" />
                <span asp-validation-for="TDmKh.CMst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CSndn" class="control-label"></label>
                <input asp-for="TDmKh.CSndn" class="form-control" />
                <span asp-validation-for="TDmKh.CSndn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CTongno" class="control-label"></label>
                <input asp-for="TDmKh.CTongno" class="form-control" />
                <span asp-validation-for="TDmKh.CTongno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CGiamdoc" class="control-label"></label>
                <input asp-for="TDmKh.CGiamdoc" class="form-control" />
                <span asp-validation-for="TDmKh.CGiamdoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CKtt" class="control-label"></label>
                <input asp-for="TDmKh.CKtt" class="form-control" />
                <span asp-validation-for="TDmKh.CKtt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CEmail" class="control-label"></label>
                <input asp-for="TDmKh.CEmail" class="form-control" />
                <span asp-validation-for="TDmKh.CEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CWebsite" class="control-label"></label>
                <input asp-for="TDmKh.CWebsite" class="form-control" />
                <span asp-validation-for="TDmKh.CWebsite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.FkNhomkh" class="control-label"></label>
                <input asp-for="TDmKh.FkNhomkh" class="form-control" />
                <span asp-validation-for="TDmKh.FkNhomkh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.FkNhomkh2" class="control-label"></label>
                <input asp-for="TDmKh.FkNhomkh2" class="form-control" />
                <span asp-validation-for="TDmKh.FkNhomkh2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.FkNhomkh3" class="control-label"></label>
                <input asp-for="TDmKh.FkNhomkh3" class="form-control" />
                <span asp-validation-for="TDmKh.FkNhomkh3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.FkVung" class="control-label"></label>
                <input asp-for="TDmKh.FkVung" class="form-control" />
                <span asp-validation-for="TDmKh.FkVung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CTccn" class="control-label"></label>
                <input asp-for="TDmKh.CTccn" class="form-control" />
                <span asp-validation-for="TDmKh.CTccn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CNguoimua" class="control-label"></label>
                <input asp-for="TDmKh.CNguoimua" class="form-control" />
                <span asp-validation-for="TDmKh.CNguoimua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CNhacungcap" class="control-label"></label>
                <input asp-for="TDmKh.CNhacungcap" class="form-control" />
                <span asp-validation-for="TDmKh.CNhacungcap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CGhichu" class="control-label"></label>
                <input asp-for="TDmKh.CGhichu" class="form-control" />
                <span asp-validation-for="TDmKh.CGhichu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CGiaodich" class="control-label"></label>
                <input asp-for="TDmKh.CGiaodich" class="form-control" />
                <span asp-validation-for="TDmKh.CGiaodich" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CTen" class="control-label"></label>
                <input asp-for="TDmKh.CTen" class="form-control" />
                <span asp-validation-for="TDmKh.CTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CTvt" class="control-label"></label>
                <input asp-for="TDmKh.CTvt" class="form-control" />
                <span asp-validation-for="TDmKh.CTvt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CDiachi" class="control-label"></label>
                <input asp-for="TDmKh.CDiachi" class="form-control" />
                <span asp-validation-for="TDmKh.CDiachi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.FkTtp" class="control-label"></label>
                <input asp-for="TDmKh.FkTtp" class="form-control" />
                <span asp-validation-for="TDmKh.FkTtp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CFax" class="control-label"></label>
                <input asp-for="TDmKh.CFax" class="form-control" />
                <span asp-validation-for="TDmKh.CFax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CDienthoai" class="control-label"></label>
                <input asp-for="TDmKh.CDienthoai" class="form-control" />
                <span asp-validation-for="TDmKh.CDienthoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CTaikhoan" class="control-label"></label>
                <input asp-for="TDmKh.CTaikhoan" class="form-control" />
                <span asp-validation-for="TDmKh.CTaikhoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CNgaythietlap" class="control-label"></label>
                <input asp-for="TDmKh.CNgaythietlap" class="form-control" />
                <span asp-validation-for="TDmKh.CNgaythietlap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.FkUser" class="control-label"></label>
                <input asp-for="TDmKh.FkUser" class="form-control" />
                <span asp-validation-for="TDmKh.FkUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CDatetime" class="control-label"></label>
                <input asp-for="TDmKh.CDatetime" class="form-control" />
                <span asp-validation-for="TDmKh.CDatetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.FkHuyen" class="control-label"></label>
                <input asp-for="TDmKh.FkHuyen" class="form-control" />
                <span asp-validation-for="TDmKh.FkHuyen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.FkXa" class="control-label"></label>
                <input asp-for="TDmKh.FkXa" class="form-control" />
                <span asp-validation-for="TDmKh.FkXa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.FkXom" class="control-label"></label>
                <input asp-for="TDmKh.FkXom" class="form-control" />
                <span asp-validation-for="TDmKh.FkXom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CConvert" class="control-label"></label>
                <input asp-for="TDmKh.CConvert" class="form-control" />
                <span asp-validation-for="TDmKh.CConvert" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CNhanvien" class="control-label"></label>
                <input asp-for="TDmKh.CNhanvien" class="form-control" />
                <span asp-validation-for="TDmKh.CNhanvien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CEffectid" class="control-label"></label>
                <input asp-for="TDmKh.CEffectid" class="form-control" />
                <span asp-validation-for="TDmKh.CEffectid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.FkModifyuser" class="control-label"></label>
                <input asp-for="TDmKh.FkModifyuser" class="form-control" />
                <span asp-validation-for="TDmKh.FkModifyuser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.FkTaikhoan" class="control-label"></label>
                <input asp-for="TDmKh.FkTaikhoan" class="form-control" />
                <span asp-validation-for="TDmKh.FkTaikhoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CMucno" class="control-label"></label>
                <input asp-for="TDmKh.CMucno" class="form-control" />
                <span asp-validation-for="TDmKh.CMucno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CMax" class="control-label"></label>
                <input asp-for="TDmKh.CMax" class="form-control" />
                <span asp-validation-for="TDmKh.CMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.FkPttt" class="control-label"></label>
                <input asp-for="TDmKh.FkPttt" class="form-control" />
                <span asp-validation-for="TDmKh.FkPttt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CCuoc" class="control-label"></label>
                <input asp-for="TDmKh.CCuoc" class="form-control" />
                <span asp-validation-for="TDmKh.CCuoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CTrietkhau" class="control-label"></label>
                <input asp-for="TDmKh.CTrietkhau" class="form-control" />
                <span asp-validation-for="TDmKh.CTrietkhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CMathang" class="control-label"></label>
                <input asp-for="TDmKh.CMathang" class="form-control" />
                <span asp-validation-for="TDmKh.CMathang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CKhoangcach" class="control-label"></label>
                <input asp-for="TDmKh.CKhoangcach" class="form-control" />
                <span asp-validation-for="TDmKh.CKhoangcach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CTenen" class="control-label"></label>
                <input asp-for="TDmKh.CTenen" class="form-control" />
                <span asp-validation-for="TDmKh.CTenen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CTentaikhoan" class="control-label"></label>
                <input asp-for="TDmKh.CTentaikhoan" class="form-control" />
                <span asp-validation-for="TDmKh.CTentaikhoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CDiachitaikhoan" class="control-label"></label>
                <input asp-for="TDmKh.CDiachitaikhoan" class="form-control" />
                <span asp-validation-for="TDmKh.CDiachitaikhoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CMauso" class="control-label"></label>
                <input asp-for="TDmKh.CMauso" class="form-control" />
                <span asp-validation-for="TDmKh.CMauso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CVonDieuLeVnd" class="control-label"></label>
                <input asp-for="TDmKh.CVonDieuLeVnd" class="form-control" />
                <span asp-validation-for="TDmKh.CVonDieuLeVnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CVonDieuLeUsd" class="control-label"></label>
                <input asp-for="TDmKh.CVonDieuLeUsd" class="form-control" />
                <span asp-validation-for="TDmKh.CVonDieuLeUsd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CSoDangKyKd" class="control-label"></label>
                <input asp-for="TDmKh.CSoDangKyKd" class="form-control" />
                <span asp-validation-for="TDmKh.CSoDangKyKd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CNgayThanhLap" class="control-label"></label>
                <input asp-for="TDmKh.CNgayThanhLap" class="form-control" />
                <span asp-validation-for="TDmKh.CNgayThanhLap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CTieuDeThu" class="control-label"></label>
                <input asp-for="TDmKh.CTieuDeThu" class="form-control" />
                <span asp-validation-for="TDmKh.CTieuDeThu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.FkDktt" class="control-label"></label>
                <input asp-for="TDmKh.FkDktt" class="form-control" />
                <span asp-validation-for="TDmKh.FkDktt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CNguoiDaiDienPhapLuat" class="control-label"></label>
                <input asp-for="TDmKh.CNguoiDaiDienPhapLuat" class="form-control" />
                <span asp-validation-for="TDmKh.CNguoiDaiDienPhapLuat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CMerTypeShipper" class="control-label"></label>
                <input asp-for="TDmKh.CMerTypeShipper" class="form-control" />
                <span asp-validation-for="TDmKh.CMerTypeShipper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CMerTypeConsignee" class="control-label"></label>
                <input asp-for="TDmKh.CMerTypeConsignee" class="form-control" />
                <span asp-validation-for="TDmKh.CMerTypeConsignee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CMerTypeNotify" class="control-label"></label>
                <input asp-for="TDmKh.CMerTypeNotify" class="form-control" />
                <span asp-validation-for="TDmKh.CMerTypeNotify" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CMerTypeForwarder" class="control-label"></label>
                <input asp-for="TDmKh.CMerTypeForwarder" class="form-control" />
                <span asp-validation-for="TDmKh.CMerTypeForwarder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CMerTypeFeeder" class="control-label"></label>
                <input asp-for="TDmKh.CMerTypeFeeder" class="form-control" />
                <span asp-validation-for="TDmKh.CMerTypeFeeder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CMerTypeSlotOwner" class="control-label"></label>
                <input asp-for="TDmKh.CMerTypeSlotOwner" class="form-control" />
                <span asp-validation-for="TDmKh.CMerTypeSlotOwner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CMerTypeSubleasee" class="control-label"></label>
                <input asp-for="TDmKh.CMerTypeSubleasee" class="form-control" />
                <span asp-validation-for="TDmKh.CMerTypeSubleasee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CMerTypeBilling" class="control-label"></label>
                <input asp-for="TDmKh.CMerTypeBilling" class="form-control" />
                <span asp-validation-for="TDmKh.CMerTypeBilling" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CMerTypeOther" class="control-label"></label>
                <input asp-for="TDmKh.CMerTypeOther" class="form-control" />
                <span asp-validation-for="TDmKh.CMerTypeOther" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.FkCommodity" class="control-label"></label>
                <input asp-for="TDmKh.FkCommodity" class="form-control" />
                <span asp-validation-for="TDmKh.FkCommodity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CQtyCont20" class="control-label"></label>
                <input asp-for="TDmKh.CQtyCont20" class="form-control" />
                <span asp-validation-for="TDmKh.CQtyCont20" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CQtyCont40" class="control-label"></label>
                <input asp-for="TDmKh.CQtyCont40" class="form-control" />
                <span asp-validation-for="TDmKh.CQtyCont40" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CQtyTeus" class="control-label"></label>
                <input asp-for="TDmKh.CQtyTeus" class="form-control" />
                <span asp-validation-for="TDmKh.CQtyTeus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CInboundHandling" class="control-label"></label>
                <input asp-for="TDmKh.CInboundHandling" class="form-control" />
                <span asp-validation-for="TDmKh.CInboundHandling" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CInboundDemurrage" class="control-label"></label>
                <input asp-for="TDmKh.CInboundDemurrage" class="form-control" />
                <span asp-validation-for="TDmKh.CInboundDemurrage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.COutboundHandling" class="control-label"></label>
                <input asp-for="TDmKh.COutboundHandling" class="form-control" />
                <span asp-validation-for="TDmKh.COutboundHandling" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.COutboundDemurrage" class="control-label"></label>
                <input asp-for="TDmKh.COutboundDemurrage" class="form-control" />
                <span asp-validation-for="TDmKh.COutboundDemurrage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CGrossweightCont20" class="control-label"></label>
                <input asp-for="TDmKh.CGrossweightCont20" class="form-control" />
                <span asp-validation-for="TDmKh.CGrossweightCont20" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CGrossweightCont40" class="control-label"></label>
                <input asp-for="TDmKh.CGrossweightCont40" class="form-control" />
                <span asp-validation-for="TDmKh.CGrossweightCont40" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CContCleaning" class="control-label"></label>
                <input asp-for="TDmKh.CContCleaning" class="form-control" />
                <span asp-validation-for="TDmKh.CContCleaning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CNote" class="control-label"></label>
                <input asp-for="TDmKh.CNote" class="form-control" />
                <span asp-validation-for="TDmKh.CNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CLastexport" class="control-label"></label>
                <input asp-for="TDmKh.CLastexport" class="form-control" />
                <span asp-validation-for="TDmKh.CLastexport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CCmnd" class="control-label"></label>
                <input asp-for="TDmKh.CCmnd" class="form-control" />
                <span asp-validation-for="TDmKh.CCmnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CNgayCmnd" class="control-label"></label>
                <input asp-for="TDmKh.CNgayCmnd" class="form-control" />
                <span asp-validation-for="TDmKh.CNgayCmnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CNoicapCmnd" class="control-label"></label>
                <input asp-for="TDmKh.CNoicapCmnd" class="form-control" />
                <span asp-validation-for="TDmKh.CNoicapCmnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CChoxoa" class="control-label"></label>
                <input asp-for="TDmKh.CChoxoa" class="form-control" />
                <span asp-validation-for="TDmKh.CChoxoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CDiachiGd" class="control-label"></label>
                <input asp-for="TDmKh.CDiachiGd" class="form-control" />
                <span asp-validation-for="TDmKh.CDiachiGd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CTenTat" class="control-label"></label>
                <input asp-for="TDmKh.CTenTat" class="form-control" />
                <span asp-validation-for="TDmKh.CTenTat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmKh.CSonha" class="control-label"></label>
                <input asp-for="TDmKh.CSonha" class="form-control" />
                <span asp-validation-for="TDmKh.CSonha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
