@page
@model Accounting_System.Areas.Admin.Pages.UpdateDocumentPage.CreateModel

@{
    ViewData["Title"] = "Tạo mới chứng từ";
}

<div>
    <a asp-page="Index"><i class="fas fa-arrow-left mr-1"></i>Trờ về</a>
</div>

<h1>Tạo mới</h1>

<h4>Tạo mới chứng từ</h4>
<hr />
<form method="post">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-3">
            <label asp-for="TXntcorder.FkDvcs" class="control-label"></label>
            <select asp-for="TXntcorder.FkDvcs" id="DVCS" asp-items="Model.TDmDvcsSelectList" class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntcorder.FkDvcs" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntcorder.FkOrder" class="control-label"></label>
            <select asp-for="TXntcorder.FkOrder" id="MaCT" asp-items="Model.TDmChungtuSelectList" onchange="HandleDocumentSelect(this)" class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntcorder.FkOrder" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="NgayLap" class="control-label"></label>
            <input asp-for="NgayLap" onchange="HandleDateChange(this)" id="NgayLap" class="form-control" />
            <span asp-validation-for="NgayLap" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntcorder.CSophieu" class="control-label"></label>
            <input asp-for="TXntcorder.CSophieu" id="SoPhieu" class="form-control" />
            <span asp-validation-for="TXntcorder.CSophieu" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Tạo mới" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        const dvcs = $('#DVCS');
        const sophieu = $('#SoPhieu');
        const ngaylap = $('#NgayLap');
        let namePrefix, showMonth, showYear, sophieuLen, separator;
        function HandleDocumentSelect(e) {
            $.ajax({
                type: "POST",
                url: "/Admin/UpdateDocumentPage/Create?handler=GetSelectedDocument",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: { "id": e.value },
                dataType: "json",
                success: function (result) {
                    dvcs.val(result.fkDvcs);
                    // Generate SoPhieu's name
                    namePrefix = result.cPrefix;
                    sophieuLen = result.cFulllen;
                    separator = result.cSeparator;
                    showMonth = result.cMonth;
                    showYear = result.cYear;
                    sophieu.val(GenerateSoPhieu());
                },
                error: function (data) {
                    console.log(data);
                }
            })
        }
        function HandleDateChange(e) {
            if (namePrefix) {
                sophieu.val(GenerateSoPhieu());
            }
        }
        function GenerateSoPhieu() {
            const date = new Date(ngaylap.val());
            const yearStr = showYear ? date.getFullYear().toString().slice(-2) : "";
            const monthStr = showMonth ? ('0' + (date.getMonth() + 1).toString()).slice(-2) : "";
            const soPhieuPrefix = namePrefix + yearStr + monthStr;
            const count = '1';
            return `${soPhieuPrefix}${separator}${count.padStart(sophieuLen - soPhieuPrefix.length, '0')}`;
        }
    </script>
}
