@page
@model Accounting_System.Areas.Admin.Pages.UpdateDocumentPage.CreateModel

@{
    ViewData["Title"] = "Tạo mới chứng từ";
}

<div>
    <a asp-page="Index"><i class="fas fa-arrow-left mr-1"></i>Trờ về</a>
</div>

<h1>Tạo mới</h1>

<h4>Cập nhật chứng từ</h4>
<hr />
<form method="post">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-3">
            <label asp-for="TXntc.FkDvcs" class="control-label"></label>
            <select asp-for="TXntc.FkDvcs" asp-items="Model.TDmDvcsSelectList" class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntc.FkDvcs" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.FkChungtu" class="control-label"></label>
            <select asp-for="TXntc.FkChungtu" asp-items="Model.TDmChungtuSelectList" class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntc.FkChungtu" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.CNgaylap" class="control-label"></label>
            <input asp-for="TXntc.CNgaylap" class="form-control" />
            <span asp-validation-for="TXntc.CNgaylap" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.CDiengiai" class="control-label"></label>
            <input asp-for="TXntc.CDiengiai" class="form-control" />
            <span asp-validation-for="TXntc.CDiengiai" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.CSophieu" class="control-label"></label>
            <input asp-for="TXntc.CSophieu" class="form-control" />
            <span asp-validation-for="TXntc.CSophieu" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.FkKhachhang" class="control-label"></label>
            <select asp-for="TXntc.FkKhachhang" asp-items="Model.TDmKhSelectList" class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntc.FkKhachhang" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.CKhdiachi" class="control-label"></label>
            <input asp-for="TXntc.CKhdiachi" class="form-control" />
            <span asp-validation-for="TXntc.CKhdiachi" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.FkNguoilh" class="control-label"></label>
            <select asp-for="TXntc.FkNguoilh" asp-items="Model.TDmNguoilhSelectList" class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntc.FkNguoilh" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.CNguoilh" class="control-label"></label>
            <input asp-for="TXntc.CNguoilh" class="form-control" />
            <span asp-validation-for="TXntc.CNguoilh" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.FkTkno" class="control-label"></label>
            <select asp-for="TXntc.FkTkno" asp-items="Model.TDmTaikhoanSelectList" class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntc.FkTkno" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.FkTkco" class="control-label"></label>
            <select asp-for="TXntc.FkTkco" asp-items="Model.TDmTaikhoanSelectList" class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntc.FkTkco" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.FkKhoxuat" class="control-label"></label>
            <select asp-for="TXntc.FkKhoxuat" asp-items="Model.TDmKhohangSelectList" class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntc.FkKhoxuat" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.FkKhonhap" class="control-label"></label>
            <select asp-for="TXntc.FkKhonhap" asp-items="Model.TDmKhohangSelectList" class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntc.FkKhonhap" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.CNgayct" class="control-label"></label>
            <input asp-for="TXntc.CNgayct" class="form-control" />
            <span asp-validation-for="TXntc.CNgayct" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.CMahoadon" class="control-label"></label>
            <input asp-for="TXntc.CMahoadon" class="form-control" />
            <span asp-validation-for="TXntc.CMahoadon" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.CKyhieumau" class="control-label"></label>
            <input asp-for="TXntc.CKyhieumau" class="form-control" />
            <span asp-validation-for="TXntc.CKyhieumau" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.CVat" class="control-label"></label>
            <input asp-for="TXntc.CVat" class="form-control" />
            <span asp-validation-for="TXntc.CVat" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.FkPhongban" class="control-label"></label>
            <select asp-for="TXntc.FkPhongban" asp-items="Model.TDmPhongbanSelectList" class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntc.FkPhongban" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.FkPhanxuong" class="control-label"></label>
            <select asp-for="TXntc.FkPhanxuong" asp-items="Model.TDmPhanxuongSelectList" class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntc.FkPhanxuong" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.FkLoaitien" class="control-label"></label>
            <select asp-for="TXntc.FkLoaitien" asp-items="Model.TDmLoaitienSelectList" class="form-control">
                <option value="" selected disabled>Chọn</option>
            </select>
            <span asp-validation-for="TXntc.FkLoaitien" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.CTigia" class="control-label"></label>
            <input asp-for="TXntc.CTigia" class="form-control" />
            <span asp-validation-for="TXntc.CTigia" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.FkPttt" class="control-label"></label>
            <input asp-for="TXntc.FkPttt" class="form-control" />
            <span asp-validation-for="TXntc.FkPttt" class="text-danger"></span>
        </div>
        <div class="form-group col-3">
            <label asp-for="TXntc.CSotknh" class="control-label"></label>
            <input asp-for="TXntc.CSotknh" class="form-control" />
            <span asp-validation-for="TXntc.CSotknh" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Tạo mới" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
