<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NACO ERP System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/sbadmin/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/lib/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Bold Reports -->
    <link href="https://cdn.boldreports.com/4.1.78/content/material/bold.reports.all.min.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        @await Html.PartialAsync("./_SideBar.cshtml")
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                @await Html.PartialAsync("./_TopBar.cshtml")
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <!-- Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    &copy; 2022 - Naco ERP Sytem
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/sbadmin/js/sb-admin-2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="~/lib/datatables/datatables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!--Bold Reports -->
    <link href="https://cdn.boldreports.com/4.1.78/content/material/bold.reports.all.min.css" rel="stylesheet" />
    <link href="https://cdn.boldreports.com/4.1.78/content/material/bold.reportdesigner.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/codemirror.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/addon/hint/show-hint.min.css" rel="stylesheet" />

    <script src="https://cdn.boldreports.com/4.1.78/scripts/common/ej2-base.min.js"></script>
    <script src="https://cdn.boldreports.com/4.1.78/scripts/common/ej2-data.min.js"></script>
    <script src="https://cdn.boldreports.com/4.1.78/scripts/common/ej2-pdf-export.min.js"></script>
    <script src="https://cdn.boldreports.com/4.1.78/scripts/common/ej2-svg-base.min.js"></script>
    <script src="https://cdn.boldreports.com/4.1.78/scripts/data-visualization/ej2-lineargauge.min.js"></script>
    <script src="https://cdn.boldreports.com/4.1.78/scripts/data-visualization/ej2-circulargauge.min.js"></script>
    <!--Render the map item. Add this script only if your report contains the map report item.-->
    <script src="https://cdn.boldreports.com/4.1.78/scripts/data-visualization/ej2-maps.min.js"></script>
    <script src="https://cdn.boldreports.com/external/jsrender.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/codemirror.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/addon/hint/show-hint.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/addon/hint/sql-hint.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.37.0/mode/sql/sql.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.44.0/mode/vb/vb.min.js" type="text/javascript"></script>

    <script src="https://cdn.boldreports.com/4.1.78/scripts/common/bold.reports.common.min.js"></script>
    <script src="https://cdn.boldreports.com/4.1.78/scripts/common/bold.reports.widgets.min.js"></script>
    <script src="https://cdn.boldreports.com/4.1.78/scripts/common/bold.report-designer-widgets.min.js"></script>
    <script src="https://cdn.boldreports.com/4.1.78/scripts/data-visualization/ej.chart.min.js"></script>
    <!-- Report component script-->
    <script src="https://cdn.boldreports.com/4.1.78/scripts/bold.report-viewer.min.js"></script>
    <script src="https://cdn.boldreports.com/4.1.78/scripts/bold.report-designer.min.js" type="text/javascript"></script>
    @await Component.InvokeAsync("Notyf")
    @RenderSection("Scripts", required: false)
    <bold-script-manager></bold-script-manager>
</body>
</html>