@page
@model Accounting_System.Areas.Admin.Pages.CatalogTableModel
@{
    ViewBag.Title = "Bảng danh mục";
}

@{
    void GetTreeMenus(IEnumerable<Accounting_System.Models.TSysList> catalogList, string catalogParent = null)
    {
        foreach (var catalog in catalogList.Where(catalogItem => catalogItem.CParent == catalogParent))
        {
            <li>
                @if (catalog.CIsgroup == true)
                {
                    <span class="caret caret--group">@catalog.CVietnamese</span>
                    <ul class="nested">
                     @{
                         GetTreeMenus(catalogList, catalog.CTable);
                     }
                    </ul>
                }
                else
                {
                    <span class="caret caret--single"> @catalog.CVietnamese</span>
                }
            </li>
        }
    }
}

<ul id="syslist">
    @{
        GetTreeMenus(Model.CatalogList);
    }
</ul>