@page
@model Accounting_System.Areas.Admin.Pages.ProvincePage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TDmTtp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TDmTtp.PkId" />
            <div class="form-group">
                <label asp-for="TDmTtp.CMa" class="control-label"></label>
                <input asp-for="TDmTtp.CMa" class="form-control" />
                <span asp-validation-for="TDmTtp.CMa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmTtp.CTen" class="control-label"></label>
                <input asp-for="TDmTtp.CTen" class="form-control" />
                <span asp-validation-for="TDmTtp.CTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmTtp.CQuocgia" class="control-label"></label>
                <input asp-for="TDmTtp.CQuocgia" class="form-control" />
                <span asp-validation-for="TDmTtp.CQuocgia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TDmTtp.CLastexport" class="control-label"></label>
                <input asp-for="TDmTtp.CLastexport" class="form-control" />
                <span asp-validation-for="TDmTtp.CLastexport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
