@page
@model Accounting_System.Areas.Admin.Pages.ReportPage.IndexModel
@{
    ViewData["Title"] = "Xuất báo cáo";
}
<h1>@ViewData["Title"]</h1>
<div>
    <a asp-page="./SalesReport" class="btn btn-primary">Xem báo cáo bán hàng</a>
    <a asp-page="./InventoryReport" class="btn btn-primary">Xem báo cáo tồn kho</a>
</div>