@page
@model Accounting_System.Areas.Admin.Pages.ReportPage.IndexModel
@{
    ViewData["Title"] = "Xuất báo cáo";
}
<h1>@ViewData["Title"]</h1>
<form method="post">
    <button class="btn btn-primary">Xuất báo cáo doanh thu</button>

</form>