@page
@model Accounting_System.Areas.Admin.Pages.NotFoundModel
@{
}
<div class="container-fluid">
    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5">Không tìm thấy trang</p>
        <a asp-page="../Index">&larr; Trở về Trang chủ</a>
    </div>
</div>